USE [master]
GO
/****** Object:  Database [Soluction4Fleet]    Script Date: 26/09/2025 20:33:12 ******/
CREATE DATABASE [Soluction4Fleet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Soluction4Fleet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Soluction4Fleet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Soluction4Fleet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Soluction4Fleet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Soluction4Fleet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Soluction4Fleet]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/09/2025 20:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FrotaLocadora]    Script Date: 26/09/2025 20:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrotaLocadora](
	[Id] [uniqueidentifier] NOT NULL,
	[LocadoraId] [uniqueidentifier] NOT NULL,
	[VeiculoId] [uniqueidentifier] NOT NULL,
	[DataEntrada] [datetime2](7) NOT NULL,
	[DataSaida] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FrotaLocadora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locadora]    Script Date: 26/09/2025 20:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locadora](
	[Id] [uniqueidentifier] NOT NULL,
	[NomeFantasia] [nvarchar](150) NOT NULL,
	[RazaoSocial] [nvarchar](200) NOT NULL,
	[Cnpj] [nvarchar](14) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Telefone] [nvarchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[Endereco_Bairro] [nvarchar](100) NOT NULL,
	[Endereco_Cep] [nvarchar](9) NOT NULL,
	[Endereco_Cidade] [nvarchar](100) NOT NULL,
	[Endereco_Estado] [nvarchar](2) NOT NULL,
	[Endereco_Numero] [nvarchar](10) NOT NULL,
	[Endereco_Rua] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Locadora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 26/09/2025 20:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[MontadoraId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Modelo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Montadora]    Script Date: 26/09/2025 20:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Montadora](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[PaisOrigem] [nvarchar](max) NOT NULL,
	[AnoFundacao] [int] NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Montadora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/09/2025 20:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Senha] [nvarchar](max) NOT NULL,
	[Perfil] [nvarchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veiculo]    Script Date: 26/09/2025 20:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veiculo](
	[Id] [uniqueidentifier] NOT NULL,
	[NumeroPortas] [int] NOT NULL,
	[Cor] [nvarchar](50) NOT NULL,
	[Fabricante] [nvarchar](100) NOT NULL,
	[AnoModelo] [int] NOT NULL,
	[AnoFabricacao] [int] NOT NULL,
	[Placa] [nvarchar](10) NOT NULL,
	[Chassi] [nvarchar](50) NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[ModeloId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Veiculo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FrotaLocadora_LocadoraId]    Script Date: 26/09/2025 20:33:12 ******/
CREATE NONCLUSTERED INDEX [IX_FrotaLocadora_LocadoraId] ON [dbo].[FrotaLocadora]
(
	[LocadoraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FrotaLocadora_VeiculoId]    Script Date: 26/09/2025 20:33:12 ******/
CREATE NONCLUSTERED INDEX [IX_FrotaLocadora_VeiculoId] ON [dbo].[FrotaLocadora]
(
	[VeiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Locadora_Cnpj]    Script Date: 26/09/2025 20:33:12 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Locadora_Cnpj] ON [dbo].[Locadora]
(
	[Cnpj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Modelo_MontadoraId]    Script Date: 26/09/2025 20:33:12 ******/
CREATE NONCLUSTERED INDEX [IX_Modelo_MontadoraId] ON [dbo].[Modelo]
(
	[MontadoraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Modelo_Nome_MontadoraId]    Script Date: 26/09/2025 20:33:12 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Modelo_Nome_MontadoraId] ON [dbo].[Modelo]
(
	[Nome] ASC,
	[MontadoraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Montadora_Nome]    Script Date: 26/09/2025 20:33:12 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Montadora_Nome] ON [dbo].[Montadora]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Veiculo_ModeloId]    Script Date: 26/09/2025 20:33:12 ******/
CREATE NONCLUSTERED INDEX [IX_Veiculo_ModeloId] ON [dbo].[Veiculo]
(
	[ModeloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Veiculo_Placa_Chassi]    Script Date: 26/09/2025 20:33:12 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Veiculo_Placa_Chassi] ON [dbo].[Veiculo]
(
	[Placa] ASC,
	[Chassi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FrotaLocadora] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Locadora] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Ativo]
GO
ALTER TABLE [dbo].[Locadora] ADD  DEFAULT (N'') FOR [Endereco_Bairro]
GO
ALTER TABLE [dbo].[Locadora] ADD  DEFAULT (N'') FOR [Endereco_Cep]
GO
ALTER TABLE [dbo].[Locadora] ADD  DEFAULT (N'') FOR [Endereco_Cidade]
GO
ALTER TABLE [dbo].[Locadora] ADD  DEFAULT (N'') FOR [Endereco_Estado]
GO
ALTER TABLE [dbo].[Locadora] ADD  DEFAULT (N'') FOR [Endereco_Numero]
GO
ALTER TABLE [dbo].[Locadora] ADD  DEFAULT (N'') FOR [Endereco_Rua]
GO
ALTER TABLE [dbo].[Modelo] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Ativo]
GO
ALTER TABLE [dbo].[Montadora] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Ativo]
GO
ALTER TABLE [dbo].[Veiculo] ADD  DEFAULT (getutcdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Veiculo] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Ativo]
GO
ALTER TABLE [dbo].[FrotaLocadora]  WITH CHECK ADD  CONSTRAINT [FK_FrotaLocadora_Locadora_LocadoraId] FOREIGN KEY([LocadoraId])
REFERENCES [dbo].[Locadora] ([Id])
GO
ALTER TABLE [dbo].[FrotaLocadora] CHECK CONSTRAINT [FK_FrotaLocadora_Locadora_LocadoraId]
GO
ALTER TABLE [dbo].[FrotaLocadora]  WITH CHECK ADD  CONSTRAINT [FK_FrotaLocadora_Veiculo_VeiculoId] FOREIGN KEY([VeiculoId])
REFERENCES [dbo].[Veiculo] ([Id])
GO
ALTER TABLE [dbo].[FrotaLocadora] CHECK CONSTRAINT [FK_FrotaLocadora_Veiculo_VeiculoId]
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Montadora_MontadoraId] FOREIGN KEY([MontadoraId])
REFERENCES [dbo].[Montadora] ([Id])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Montadora_MontadoraId]
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD  CONSTRAINT [FK_Veiculo_Modelo_ModeloId] FOREIGN KEY([ModeloId])
REFERENCES [dbo].[Modelo] ([Id])
GO
ALTER TABLE [dbo].[Veiculo] CHECK CONSTRAINT [FK_Veiculo_Modelo_ModeloId]
GO
USE [master]
GO
